.searchInput {
    display: block;
}
.searchButton{
    margin: 5px;
}
.advancedButton{
    margin: 5px;

}
.searchContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
}