body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/*align the recipe cards and banner on home page*/
.random-recipes, .banner {
  text-align: center;
  margin: 5em;
}

/*font-family for header 2 and header 3*/
h2, h3{
  font-family: 'Quicksand', sans-serif;
}

/*Homepage link on homepage*/
a{
  text-decoration: none;
}

/*the Homepage link on homepage*/
.headerText:hover{
  color: #D3D3D3;
}

/*font-style for text in the header*/
.headerText{
  font-weight: bold;
  position: relative;
  right: 60px;
  font-size: large;
}

#root {
  background-color: #eff5f5;
}

.banner {
 text-align: center; 
}

.recipeImage {
  padding: 2em;
}

.mdl-list.instructionItem {
  text-align: left;
  border-style: solid;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
}

.recipeTitle{
  font-family: 'Snippet', sans-serif;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.cardTemplate{
  flex-basis: 100%;
  margin: 10px;
}

.ingredientImg{
   max-width:100px; 
   height:auto;
}

.recipeImage {
  max-width:50%;
  height: auto;
  padding: 2em;
}

.searchInput {
    display: block;
}
.searchButton{
    margin: 5px;
}
.advancedButton{
    margin: 5px;

}
.searchContainer{
    display: flex, block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 10;
  }

img.ingredientImg {
  margin-right: 20px;
}

.ingredient-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  
}


.mdl-list.ingredientItem {
  font-family: 'Quicksand', sans-serif;
  flex-basis: 100%
}

@media (min-width: 768px) {
  .cardTemplate {
    flex-basis: 25%;
  }

  .searchContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .mdl-list.ingredientItem {
    flex-basis: 50%;
  }
}

@media (max-width: 465px) {
 .headerText{
    position: absolute;
    right: 0;
    
  }

  .login-button {
    position: absolute;
    top: 50px;
    right: 20px;
  }
}

@media (max-width: 374px) {
 .headerText{
    position: absolute;
    top: 30px;
    right: 10px;
    
  }

  .login-button {
    position: absolute;
    top: 75px;
    right: 30px;
  }
}




