body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/*align the recipe cards and banner on home page*/
.random-recipes, .banner {
  text-align: center;
  margin: 5em;
}

/*font-family for header 2 and header 3*/
h2, h3{
  font-family: 'Quicksand', sans-serif;
}

/*Homepage link on homepage*/
a{
  text-decoration: none;
}

/*the Homepage link on homepage*/
.headerText:hover{
  color: #D3D3D3;
}

/*font-style for text in the header*/
.headerText{
  font-weight: bold;
  position: relative;
  right: 60px;
  font-size: large;
}

#root {
  background-color: #eff5f5;
}


.mdl-data-table{
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.banner {
 text-align: center; 
}

.recipeImage {
  padding: 2em;
}

.mdl-list.instructionItem {
  text-align: left;
  border-style: solid;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
}

.recipeTitle{
  font-family: 'Snippet', sans-serif;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.cardTemplate{
  flex-basis: 100%;
  margin: 10px;
}

.ingredientImg{
   max-width:100px; 
   height:auto;
}

.recipeImage {
  max-width:50%;
  height: auto;
  padding: 2em;
}

.searchInput {
    display: block;
}
.searchButton{
    margin: 5px;
}
.advancedButton{
    margin: 5px;

}
.searchContainer{
    display: flex, block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 10;
  }

.adv-search {
  text-align: center;
}

.advanced-search {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  margin: 10px;
}

.adv-search-fields{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.mdl-textfield {
  margin: 10px;
}

img.ingredientImg {
  margin-right: 20px;
}

.ingredient-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  
}

.mdl-list.ingredientItem {
  font-family: 'Quicksand', sans-serif;
  flex-basis: 100%
}

.comment-form {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 25px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgrey;
  }

.comments {
  background: #e6e6e6;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 2px;
  text-align: left;
  text-indent: 20px;
}

.userName{
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 3px;
  text-align: left;
  font-weight: bold;
}

.comment-field {
 width: 75%;
 margin-left: 12.5%;
 margin-right: 12.5%;
 margin-bottom: 0px;
}

.comment-submit-button {
  border-radius: 4px;
  background: #99ccff;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .cardTemplate {
    flex-basis: 25%;
  }

  .searchContainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .mdl-list.ingredientItem {
    flex-basis: 50%;
  }
}

@media (max-width: 465px) {
 .headerText{
    position: absolute;
    right: 0;
    
  }

  .login-button {
    position: absolute;
    top: 50px;
    right: 20px;
  }
}

@media (max-width: 374px) {
 .headerText{
    position: absolute;
    top: 30px;
    right: 10px;
    
  }

  .login-button {
    position: absolute;
    top: 75px;
    right: 30px;
  }
}

.expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height .75s;
}

.expand {
    max-height: 500px;
}

.rotatable {
    transition-duration: .75s;
}

.rotated {
    transform: rotate(-180deg);
}

#nutrient-expand {
    font-size: 16px;
}

#nutrient-expand:hover {
    cursor: pointer;
}



