body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em;
}

.card {
  flex-basis: 14%;
  flex-grow: 0;
  margin-bottom: 1.5em;
}

.card .content {
  margin: .5em .5em;
  border: 1px solid black;
  border-radius: 3px;
}

.card img {
  width: 100%;
}

.card .content > :not(img) {
  margin-left: 5px;
  margin-right: 5px;
}

.random-recipes {
  text-align: center;
}

a{
  text-decoration: none;
}