body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cards-container, .similarRecipes  {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 4em;
}

.card, .cardTemplate {
  flex-basis: 10em;
  flex-grow: 0;
  margin-bottom: 1.5em;
}

.card .content {
  margin: .5em .5em;
  border: 1px solid black;
  border-radius: 3px;
}

.card img {
  width: 100%;
  height: auto;
}

.card .content > :not(img) {
  margin-left: 5px;
  margin-right: 5px;
}

.random-recipes, .banner {
  text-align: center;
  margin: 5em;
}

a{
  text-decoration: none;
}

.headerText:hover{
  color: #D3D3D3;
}

.headerText{
  font-weight: bold;
  float: right;
  font-size: large;
}

#root {
  background-color: #eff5f5;
}

.banner {
 text-align: center; 
}

.mdl-data-table{
  margin-left: auto;
  margin-right: auto;
  
}

.recipeImage {
  padding: 2em;
}

.mdl-list {
  text-align: left;
}

